<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.justin.verbeterjegemeente">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".app.ServiceRequestApplication">
        <activity
            android:name=".ui.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.Main" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAuwLZcqLg394O8Ry0S4LpCgT599JBg_kQ"
            />

        <activity
            android:name=".ui.MapsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme.NoActionBar" />

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".ui.FollowingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MeldingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.Meldingscherm" />
        <activity
            android:name=".ui.DetailedMeldingActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".app.UpdateService" />

        <activity
            android:name=".ui.Stepper.StepperActivity"
            android:label="@string/title_activity_stepper"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>